 @charset "utf-8"; 
 /* این برای این است که در اسناد قدیمی هم درست دیده شود و باید اول سند بزاریم  */
 /* @import "../css/cssstyle.css"; */
/*  با این روش میتوان فایل های ثابت را جدا استایل دهی کرد  و به این سند وصل کرد و باید حتما اول سند باشه  */
/* روش شماره یک که با اسپیس از هم جدا کرده و استایل میدهیم */
.parent span{
    background-color: red;

}
/* اینجا میگیم سکشینی که کلاس پرنت داره تگ های p درونشو کالرشو آبی بکن  */
section.parent>p{
    color: blue;

}

/* زمانی که از+استفاده میکنیم بلافاصله اولین تگ برادر را انتخاب میکند کاری به هم نام هایش ندارد */
/* div.parent+span{
    background-color: blueviolet;
} */
 /* زمانی که از ~این سلکتور استفاده بکنیم کاری دیگر به اولین یه آخرین ندارد تمام هم نام های بعد تگ انتخاب میکند */
div.parent~span{
    background-color: blueviolet;
}
