/* اینجا با این روش استایل سکلتور میتوان گفت که در دسته تگ هایی که داریم ائن هایی که کلاس textدارن اول حرف یا به صورت جدا رو انتخاب کن */
[class|="text"] {
  color: red;
}
/* زمانی که حتی اگر تگ های ما درون یهک تگ کلی والد هم باشد میتوان با آیدی به آن جهت داد */
section#t [class|="text"] {
  color: yellow;
}
/* در این روش با علامت^ میگوییم که حتی اگر بین کلمه textبا _ جدا نشده بود اما textاول کلمه بود باز اعمل کن */
section#w [class^="text"] {
  color: blue;
}
/* در این حالت با علامت $ فقط زمانی که متن text یونیک باشد یا آخر کلمه آمده باشد آن را میخواند */
section#p [class$="text"] {
  color: green;
}
/* در این صورت دیگه فرقی نمیکنه که کلاس textاول کلمه باشه یا آخر یا جدا در هرصورت textتو کلاس باشه اون رو اعمال میکنه */
section#h [class*="text"] {
  color: burlywood;
}
