@font-face {
  font-family: vazir-1;
  src: url(../font/Vazir-Medium.eot) format(ٌ "eot"),
    url(../font/Vazir-Medium.woff) format("woff"),
    url(../font/Vazir-Medium.woff2) format("woff2");
  font-weight: bold;
  font-style: italic;
}
* {
  font-family: vazir-1;
  /* برای تغییر سایز فونت */
  font-size: 15px;
  font-variant: small-caps;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  /* ریست تگ a است که تمام خط های زیر لینک را برمیدارد */
  text-decoration: none;
}
nav {
  background-color: #efefef;
  /* برای اینکه متن نسبت به تگ والدش وسط چین بشه */
  /* /* text-align: center; */
}
.test li {
  /* برای فاصله متن درون تگ از هم دیگه  */
  /* margin: 0 5px; */
  padding: 0px 5px;
  /* برای اینکه عناصر جلوی هم دیگه قرار بگیرن */
  display: inline;
  /* برای اینکه بولت ها نمایش داده نشوند */
  list-style: none;
}
.test li a:hover {
  background-color: rgb(11, 164, 247);
}
.test li a:hover {
  /* اگه به تگ والد و تگ فرزند یک مقدار بدهی باهم تراز میشوند و استایل بیرون نمیزند */
  padding: 0;
  color: #b3ff02;
  border-bottom: 1px solid red;
}
.test2 li{
    display: block;
    
}
.test1{
    position: relative;

}
.test2{
    position: absolute;
    background-color: #efefef;
    top: 25px;
    right: 6px;
    display: none;
    border-radius: 6px;
    padding: 8px;
max-width:100%;  
 /* background: rgba(255, 255, 255, 0.2); شفافیت */
     
}

.test1:hover .test2{
    display: block;

}
  