/* External */
#test3 {
    color: rgb(12, 10, 15);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
  }
  .ts{
    color: rgb(176, 151, 28);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
  }

.tv{
color: rgb(250, 185, 20);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px; 
 }