@font-face {
  font-family: vazir-1;
  src: url(../font/Vazir-Medium.eot) format(ٌ "eot"),
    url(../font/Vazir-Medium.woff) format("woff"),
    url(../font/Vazir-Medium.woff2) format("woff2");
  font-weight: bold;
  font-style: italic;
}
* {
  font-family: vazir-1;
  /* برای تغییر سایز فونت */
  font-size: 25px;
  font-variant: small-caps;
  padding: 3px;
  margin: 0;
}
.button {
  display: block;
  width: 200px;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(to right,yellow 0%, red 51%,yellow 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
  text-transform: uppercase;
}
.button:hover {
  background-image: linear-gradient(to right,yellow 0%, red 51%, yellow 100%);
  background-position: right center;
  cursor: pointer;
}
