@charset "utf-8";
/* این برای این است که در اسناد قدیمی هم درست دیده شود و باید اول سند بزاریم */
@import "../css/cssstyle.css";
/*  با این روش میتوان فایل های ثابت را جدا استایل دهی کرد  و به این سند وصل کرد و باید حتما اول سند باشه  */

:root {
  --primary-color: red;
  --secondary-color: green;
  /* با این کامپلت میتوان به تمام تگ هایی که از اول براشون تعریف کردیم یجا رنگ تغییر داد هی دونه دونه عوض نکنیم */
}

/* img */
.test1 img {
  width: 200px;
  /* filter: blur(5px); */
  /* این استایل برای این است که عکس مات شود  */
  /* filter: brightness(0.3); */
  /* این استایل نور عکس کم زیاد میکند واز 1تا0 کم 1به بالا زیاد */
  /* filter: contrast(20); */
  /* این استایل رنگ اشباح شده تصویر باز مکند اگه درصد بزاریم رنگ باز و اگه هیچی کنار عدد نزاریم رنگ اشباح میکند */
  /* filter: grayscale(); */
  /* این استایل عکس را سیاه سفید میکند و 1به بالا تیره 0 کلا خذف میکنه  */
  /* filter: hue-rotate(500deg); */
  /* این استایل با مقدار رنگ را نسبت به درجه ترکیبی که بدهیم با رنگ متضادش ترکیب میکند */
  /* filter: invert(); */
  /* این استایل عکس را به صورت نگاتیو میکند و با صفر غیرفعال میشود */
  /* filter: opacity(0.1); */
  /* این استایل همان مات است اما با مقدار درصد و از صفر تا 1 مقدار میگیرد و خیلی زیاده ماتش */
  /* filter: saturate(5); */
  /* این استایل رنگ درونی عکس را اشباح میکند  */
  /* filter: sepia(); */
  /* این استایل رنگ عکس را قهوه ای تیره میکند  */
  /* filter: drop-shadow(5px 8px 8px ); */
  /* این استایل به عکس سایه میدهد  */
  /* filter: blur(1px) drop-shadow(5px 8px 8px ) grayscale(); */
  /* این حالت خلاصه نویسی فقط باید به ترتیب نوشتن دقت کنیم  */
}
.test1 {
  text-align: center;
}
.test1 img:hover {
  /* filter: blur(0); */
  /* گفتم که روی عکس رفتم با موس از مات بودن خارج بشه */
}
/*root */
.test2 a {
  text-decoration: none;
  color: var(--primary-color);
  /* با مقدارvarمیتوان تعریف کرد که استایل روت عوض شد این عنصر هم عوض شود */
}
p {
  color: var(--primary-color);
}
