.test-1{
    width: 400px;
    border: 1px solid #000;
/*برای این است اگر طول متن بیشتر از کادر بود آن را ادامه دهد*/
    white-space: nowrap; 
    /*برای اینکه اگر متن بیشتر از کادر بود برای ما اسکرول بزاره تا ادامه متن ببینیم*/
     overflow: auto; 
    /*زمانی که متن بیشتر از کادر باشد آن را نمایش نمیدهد*/
     overflow: hidden; 
    /*زمانی که متن به انتهای کادر نزدیک شود سه نقطه میگذارد یعنی ادامه دارد*/
     text-overflow: ellipsis; 
    /* ر کلمه بزرگتر از کادر باشد آن را میشکند با سایز بهم نریزد*/
    word-wrap: break-word;
    /* گذاشتن یا نزاشتن آن تاثیری در سند ندارد در مرورگر مدرن اما در مرورگر قدیمی متن را تغییر نمیدهد*/
    word-wrap: normal; 
    /* پیش فرض مرورگر را به ما نمایش میدهد */
 word-break: keep-all; 
/* اگر جمله از کادر بزرگتز باشد کلمه هارامیشکند میندازه لاین بعد تا کل کادر پر بشه */
/word-break: break-all;
    /*زمانی که جمله از کادر بیشتر باشد کلمات را نمیشکند و فاصله بین آنان را بیشتر میکند تا کلمه خانا باشد */
text-align: justify;
}
.test-2{
    /* این متن به حالت افق نمایش میدهد */
    writing-mode: horizontal-tb; 
}
.test-3{
    /* این متن را به حالت عمودی نمایش میدهد */
   writing-mode: vertical-rl;
}
.test-4{
    /* یک بخشی از متن هم اگز بخواهیم این شکلی عمود میشود */
   writing-mode: vertical-rl; 
}
.img-google{
    /* برای جابجایی متن خاص در صفحه چپ به راست */
    direction: ltr;
  
}
.a{
    /* یعنی متن نسبت به تگ والدش که تصویر هست بالاترین نقطه قرار بگیره*/
   /* برای تراز کردن متن در کنار عکس */
    vertical-align: top;
    /* به پایین ترین نقطه سایز عنصر والد انتقال میدهد */
    vertical-align: bottom;
    /* عنصر را نسبت به تگ والد وسط میگذارد */
     vertical-align: middle; 
     /* حد تراز پایین تر از بیس عکس یا تگ والد میگذارد */
      vertical-align: baseline;  
     /* پایین تر از تگ والد قرار میدهد تراز عنصر را */
   vertical-align: super;
   /* حالت پیش فرض میگذارد */
     vertical-align: sub; 
     /* برای مقدار دهی جابجایی تراز عنصر میتوان عددی جابجا کرد و منفی باشد بالا میرد و مثبت پایین می آید */
     vertical-align: -12px ; 
     /* برای اجرا vetical-alignباید یک ایکن یا عنصر درون تگ متن بگذاری تا نسبت به آن جابجا شود */
}